<html>
<head>
  <link rel="stylesheet" href="/styles/style2.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
  <title>Sign in</title>
</head>
<body>
  <div class="main">
    <p class="t1" align="center">Weathered</p>
    <p class="sign" align="center">Sign in</p>
    <form action="/auth" method="post" class="form1">
      <input class="un " type="text" align="center" placeholder="Username" name="username" required>
      <input class="pass" type="password" align="center" placeholder="Password" name="password" required>
      <button type="submit" class="submit2" align="center">Sign in</button>
    </form>
</div>
</body>
</html>
