body,
html {
  background: #fff;
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
}

.search-box {
  background-color: #eff8ff;
  padding: 16px 16px;
  border: none;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #a9b8c9;

  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}

.weather-card {
  background-color: #eaebff;
  padding: 5%;
  border-radius: 5%;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.city {
  font-weight: 600;
  text-align: center;
  padding: 3%;
}

.date {
  text-align: center;
  padding: 3%;
}
.temp {
  text-align: center;
  padding: 2%;
  font-size: 400%;
}
.weather {
  font-weight: 600;
  text-align: center;
  padding: 3%;
}
.icon-container {
  background: #fff;
  padding: 0 20% 0 5%;
  margin: 0 20% 0 20%;
  text-align: center;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.icon {
  margin: 0;
  padding-right: 15%;
}
.hi-low {
  text-align: center;
  padding: 2%;
}
.humidity-container {
  padding: 3% 10% 3% 10%;
}
.humidity {
  margin: 0;
  text-align: center;
  padding: 10% 2% 10% 2%;
}

.socials {
  text-align: center;
}

.social-icon {
  font-size: 40;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.button {
  margin-bottom: 30%;
}

a {
  text-decoration: none;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative;
  width: 100px;
  height: 30px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #eff8ff;

  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #9ba2ff;
}

HTML CSSResult Skip Results Iframe
EDIT ON
        body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 40px;
        color: #8C55AA;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 33.7%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    .submit2 {
        cursor: pointer;
          border-radius: 5em;
          color: #fff;
          background: linear-gradient(to right, #9C27B0, #E040FB);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 35%;
          font-size: 13px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        
    }
        




